@font-face {
    font-family: Tanha;
    src: url('./font/Tanha.eot');
    src: url('./font/Tanha.eot?#iefix') format('embedded-opentype'),
         url('./font/Tanha.woff') format('woff'),
         url('./font/Tanha.ttf') format('truetype');
    font-weight: normal;
   }
*{
    font-family: tanha;
}   
.about_us{
    padding: 60px 20px 120px;
    background:white;
}
.about_container{
    border:2 px solid #fff;
}
.about_container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.about_container .text_section{
    max-width: 50%;
}
.about_container .text_section p{
font-size: 18px;
text-align: center;
}
.about_container .image_section{
    max-width: 45%;
}
.about_container .image_section img{
    width: 70%;
    margin-top: 80px;
}
h2{
    display: flex;
    justify-content: center;
}
.about_container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 100px;
    border: 2px solid #ccc;       /* حاشیه خاکستری */
    border-radius: 15px;          /* گوشه‌های گرد */
    background-color: #f9f9f9;    /* پس‌زمینه روشن */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* سایه ملایم */
}
