
@font-face {
    font-family: 'Tanha';
    font-style: normal;
    font-weight: normal;
    src: url(fonts/Tanha-FD.woff2);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
font-family: Tanha;
  height: 100dvh;
}

a {
  color: #5c48ee;
  text-decoration: none;
  margin-inline: .5rem;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: bisque;
}
.title-div {
  margin-block: 1rem;
  font-size: 1.5rem;
  color: #5c48ee;
}
.inputs-div {
width: 25rem;
  background-color: white;
  border-radius: 10px;
  box-shadow:0 2px 8px 0 rgba(99,99,99,0.2);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.inputs-div > :not(div) {
  text-align: center;
  margin-block: .5rem;
}

.inputs-div > div:not(:last-child) {
  background-color: #EDEDEF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-block: .7rem;
  padding: .5rem 1rem;
}

.inputs-div > div > input {
  padding: .5rem 1rem;
  width: 100%;
  text-align: right;
  font-family: Tanha;
  /* height: 100%; */
  background-color: transparent;
  border: none;
}

input:focus {
  outline: none;
  border: none;
}

.submit {
  color: white;
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  font-family: Tanha;
  margin-block: .7rem;
  background-color: #5c48ee; 
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.submit:hover {
  background-color: #4f39f2;
}