{% extends  'base/base.html' %}
{% load static %}
{% block contents %}

<div class="section-content-header">
    <div class="left-content-header">
        <h1>
          <span>
           خرید بهترین
          </span>
            <br>
            <span> سیستم های هوشمند</span>
            <br>
            <span>در کرمان</span>
        </h1>
        <p>

           در دنیای تکنولوژی، انتخاب یک گوشی هوشمند یا لپ‌تاپ مناسب می‌تواند چالش‌برانگیز باشد.
            ما در اینجا با بررسی تخصصی، مقایسه مدل‌ها و ارائه آخرین اخبار فناوری،
            به شما کمک می‌کنیم تا بهترین انتخاب را داشته باشید.
             همراه ما باشید و با دنیای دیجیتال به‌روز بمانید!
     از معرفی جدیدترین مدل‌های گوشی و لپ‌تاپ گرفته تا بررسی تخصصی قابلیت‌های هر دستگاه، ما اطلاعات کاربردی و دقیق را در اختیار شما قرار می‌دهیم

        </p>
        <form action="">
            <input type="text" placeholder="دنبال چه چیزی میگردید؟">
            <button>
               جستجو محصولات
            </button>
        </form>
    </div>
    <div class="right-content-header">
        <img src="{% static 'asmsung1.webp' %}" alt="" >
        <img src="{% static 'samsung2.avif' %}" alt="">

        <div class=" content-img-text">
            <ul>
                <li>
                   اول هر ماه 30% تخفیف بگیرید

                </li>
                <li>
                   با کیفیت ترین محصولات
                </li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}

