{% extends 'base/base.html' %}
{% load static %}
{% block contents %}
    <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VOLIX</title>
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">

    </head>

    <body>
    <div class="login-page">
 <div class="login-img">
            <img src="{% static 'image/login.jpg' %}" alt="" width="250" height="250">
        </div>

        <form action="">
        <h1>خوش آمدید</h1>

            <div class="form-group">
                <label for=""> نام کاربری</label>
                <input type="text">
            </div>
            <div class="form-group">
                <label for="">رمز عبور</label>
                <input type="password">
            </div>
            <div class="button-form">
                <button>ورود</button>
            </div>
            <div class="bottom-form">
                <a href="#">
                   حساب کاربری جدید بسازید
                </a>
            </div>
        </form>

    </div>
    </body>

{% endblock %}