{% extends 'base/base.html' %}
{% load static %}
{% block contents %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت نام در VOLIX</title>
    <link rel="stylesheet" href="{% static 'css/style3.css' %}"> <!-- Reusing your login CSS -->
</head>

<body>
    <div class="login-page"> <!-- Reusing your login styling -->
        <div class="login-img">
            <img src="{% static 'image/register.jpg' %}" alt="ثبت نام" width="250" height="250">
        </div>

        <form class="form-horizental" method="post">
            {% csrf_token %}

            <h1>ثبت نام در ولیکس</h1>

            {{ register_form }}



            <!-- Username Field -->

            <div class="button-form">
                <button type="submit">ثبت نام</button>
            </div>

            <div class="bottom-form">
                <span>حساب کاربری دارید؟</span>
                <a href="{% url 'login' %}">وارد شوید</a>
            </div>
        </form>
    </div>
</body>




{% endblock %}