

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    direction: rtl;
    font-family: Tanha;
}

@font-face {
    font-family: 'Tanha';
    font-style: normal;
    font-weight: normal;
    src: url(fonts/Tanha-FD.woff2);
}

header{
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(8px);
}
.circle-1{
    margin-top: 3.4rem;
    width: 1000px;
    height: 1000px;
    position: fixed;
    background-image: linear-gradient( to right ,#94a3c2,#59a3c2);
    z-index: -1;
    border-radius: 100%;
    left: -9rem;
    top: 54%;
    transform:  translateY(-30%);
    
}

nav li{
      list-style-type: non;
       display: flex;   
       color: black;

}
nav li  a{
    color:black ;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0.5rem;
    transition: all 0.2ms ease;
    -webkit-transition: all 0.2ms ease;
    -moz-transition: all 0.2ms ease;
    -ms-transition: all 0.2ms ease;
    -o-transition: all 0.2ms ease;
}
a{
    text-decoration: none;
   
   
}
img{
    width: 100%;
}
.section-nav{
    display: grid;
   grid-template-columns:50% 50% ;
   justify-content: space-between;
    margin:0% auto;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    height: 100%;
    align-items: center;
    box-shadow:0 2px 8px 0 rgba(99,99,99,0.2);
     margin-top: 1rem;
        border-radius:12px ;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(8px);
}
nav li:not(:last-child) a:hover{

color:#5c48ee;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.3rem;
}
.active{
    background-color: #5c48ee;
    color: #fff;
    font-weight:lighter;
    border-radius:5%;
    padding:0.4rem 1.5rem;
    display: flex;
   
   

}
.active:hover{
   
   background-color: #0f1e6a;
}
.logo-nav a{
    color:#5c48ee;
    font-weight: 500;
    font-size: 1.5rem;
   padding-right: 1rem;
}

.section-content-header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 1200px;
    margin: auto;
    gap: 5rem;
    min-height: calc(100vh - 100px) ;  
     

}
.left-content-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left-content-header h1{
    font-size: 3rem;
    color: #0f1e6a;
    width: 100%;
    line-height: 3.5rem;
}
.left-content-header h1 span:nth-child(1){
    font-weight: 400;
}
.left-content-header h1 span:nth-child(2){
font-weight: 700;
color: #0f1e6a;
}
.left-content-header h1 span:nth-child(3){
font-weight: 700;
color: #5C48F2;
}
.left-content-header p{
    color: #333333;
    margin: 1rem 0 1.5rem 0;
}
.left-content-header form{
    color: #333333;
    /* margin: 1rem; */
    display: flex;
    align-items: center;
    width: 100%;
}
.left-content-header form input{
    color: #333333;
  
    background-color: #fff;
    font-size: 0.8rem;
   
    padding: 1rem;
    max-width: 300px;
    width: 100%;
    border: none;
    box-shadow: 5px 5px 20px rgba(0, 0,0, 0.2);
    outline: 0;
}
.left-content-header form button{
  
    background-color: #5c48ee;
    border: none;
    color: #fff;
    padding: 1rem;
    white-space:nowrap ;
    box-shadow:5px 5px 20px rgba(0, 0,0, 0.2); ;

}

.right-content-header{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    /* gap: 2rem; */
    place-content: center;
   position: relative;

}
.right-content-header img:nth-child(1){
  width: 110%;
  border-radius: 12px;
  transform:translateY(-40px) ;

}
.right-content-header img:nth-child(2){
    width: 110%;
    border-radius: 12px;
   
}


.content-img-text  {
    background:linear-gradient(to right, rgba(92,74,238,0.6) ,rgba(15,30,106,0.4));
    backdrop-filter: blur(30px);
    color: #fff;
    padding:1rem 2rem;
    width: 100%;
    max-width: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%,70%);
    border-radius: 10px;
    -webkit-transform: translate(-35%,70%);
    -moz-transform: translate(-35%,70%);
    -ms-transform: translate(-35%,70%);
    -o-transform: translate(-35%,70%);
}
.content-img-text ul li{
    margin-bottom: 0.5rem;
    list-style: disc;
}
   
.left-nav{
    display: grid;
    grid-template-columns: 70% 35%;
    list-style-type: none ;
    gap: 1rem;
}
.left-nav-shoppingcartANDlogin{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    gap: 0.4rem;
}
.left-nav-link{
    display: flex;
    justify-content: space-between;
   align-items: center;
}
.left-nav-link li a{
    color: black;
}
.left-nav-link li a:hover{
   color: #243baf;
}







#toggle-nav:checked +label+ ul{
    transform: translateX(0);
    transition: all 250ms ease-out ;
    
 
}
#toggle-nav:checked + label span:first-child{
    transform: rotate(127deg);
    position: relative;
    top: -4px;
}   
#toggle-nav:checked + label span.line-mid{
    transform: translateX(10px);
    opacity: 0;

}
#toggle-nav:checked + label span:last-child{
    position: relative;
    top: -13px;
    transform: rotate(58deg);

}
.line{
    border-bottom:2px solid ;
    width: 14px;
    display: block;
    gap: 1rem;
    margin-bottom: 3px;
    transition:all 260ms ease-out ;
    -webkit-transition:all 260ms ease-out ;
    -moz-transition:all 260ms ease-out ;
    -ms-transition:all 260ms ease-out ;
    -o-transition:all 260ms ease-out ;
}
.label-toggle-nav{
    position: relative;
  
}


 @media screen and (max-width:1200px) {
  
     .left-nav-link{
       font-size: 0.9rem;
    }
    .active{
        font-size: 0.7rem;
        padding: .5rem 1rem;
        max-width: 300px;
    }
    .left-nav-shoppingcartANDlogin{
    display: grid;
    grid-template-columns: 60% 30%;
    align-items: center;
    gap: 0.4rem;
}

}  


@media screen and (min-width:1000px) {
   .nav-mobile{
    display: none;
}
   }



 @media screen and (max-width:1000px) {
   *{
    color: black;
   }
    .left-nav-link{
        display: none;
    }
    .left-nav-shoppingcartANDlogin{
        display: none;
    }
   .right-nav{
    display: flex;
    align-items: center;
   }
   .list-nav-mobile{
    color: #333;
    position: fixed;
    left: 0;
    background-color: #fff;
    height: 100%;
    top: 0;
    width: 200px;
    transform: translateX(-350px);
    transition: all 250ms ease-out;
   
    padding: 2rem 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.5rem;
    text-align: right;
    overflow-x: hidden;
   
}
.nav-mobile span line{
    border-bottom: 2px solid;
    width: 14px;
    display: block;
    margin-bottom: 3px;
}
.active{
    width: 120px;
   
}
  .section-nav nav{
    display: none;
  }
  .section-content-header{
    grid-template-columns: repeat(1,1fr);
  }
  .left-content-header{
    text-align: center;
  }
  .left-content-header form{
    justify-content: center;
  }
  .right-content-header img:nth-child(2) {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.left-content-header p{
    font-size: large;
    width: 500px;
    padding: 1rem ;

}
.right-content-header img{

    max-width: 8cm;
 
    
}
.right-content-header img:nth-child(1){
  transform:translateX(-73px) ;
  transform:translateY(-40px) ;
  -webkit-transform:translateX(-73px) ;
  -moz-transform:translateX(-73px) ;
  -ms-transform:translateX(-73px) ;
  -o-transform:translateX(-73px) ;
}
.right-content-header img:nth-child(2){
     transform:translateY(+40px) ;
   
     
}
.section-content-header{
    margin-bottom: 10rem;
}
.section-content-header{
    margin-top: 5rem;
}
 
}


